@model UserRecord

<div class="card mt-4">
    <div class="card-header">
        <h2>Add Working Hours</h2>
    </div>
    <div class="card-body">
        <form asp-controller="User" asp-action="AddUserRecord" method="post">
            <div class="form-group mb-3">
                <label class="form-label">Date</label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Start Time</label>
                <input asp-for="StartTime" class="form-control" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">End Time</label>
                <input asp-for="EndTime" class="form-control" />
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label>Task</label>
                <select asp-for="Task_Id" class="form-control" asp-items="@ViewBag.Tasks"></select>
                <span asp-validation-for="Task_Id" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label>User Id</label>
                <input type="text" asp-for="User_Id" class="form-control" value="@ViewBag.UserId" readonly />
            </div>

            <div class=" card-footer">

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="UserPage" asp-controller="Account" class="btn btn-primary ms-2 ">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .card {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-label {
        display: block;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

   
    
    .card-footer {
        display: flex;
        justify-content: center;
        background-color: transparent;
        border-top: none;
    }

</style>