@model WebApplication2.Models.RegisterUserViewModel
<head>
    <link rel="stylesheet" href="~/css/Account/RegisterView.css" />
</head>

@{
    ViewData["Title"] = "Register";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center mb-0">Register</h2>
                </div>
                <div class="card-body">
                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group">
                            <label asp-for="UserAuth.Email">Email</label>
                            <input asp-for="UserAuth.Email" class="form-control" />
                            <span asp-validation-for="UserAuth.Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserAuth.UserName">Username</label>
                            <input asp-for="UserAuth.UserName" class="form-control" />
                            <span asp-validation-for="UserAuth.UserName" class="text-danger"></span>
                        </div>

                     
                        <div class="form-group">
                            <label asp-for="UserAuth.PasswordHash">Password</label>
                            <input asp-for="UserAuth.PasswordHash" type="password" class="form-control" />
                            <span asp-validation-for="UserAuth.PasswordHash" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="UserAuth.ConfirmPassword">Confirm Password</label>
                            <input asp-for="UserAuth.ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="UserAuth.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.FirstName">First Name</label>
                            <input asp-for="User.FirstName" class="form-control" />
                            <span asp-validation-for="User.FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.LastName">Last Name</label>
                            <input asp-for="User.LastName" class="form-control" />
                            <span asp-validation-for="User.LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Job_Title">Job Title</label>
                            <input asp-for="User.Job_Title" class="form-control" />
                            <span asp-validation-for="User.Job_Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Phone">Phone</label>
                            <input asp-for="User.Phone" class="form-control" />
                            <span asp-validation-for="User.Phone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="User.Registration_date">Registration Date</label>
                            <input asp-for="User.Registration_date" class="form-control" />
                            <span asp-validation-for="User.Registration_date" class="text-danger"></span>
                        </div>

                     

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Register</button>
                            <a asp-action="AdminPage" class="btn btn-primary ms-2 ">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

